[Unit]
Description=t agent service


[Service]
ExecStart=/opt/ed/agent/agent  -c /opt/ed/config.yml
SyslogIdentifier=tagent
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target